# requires numpy and matplotlib to be installed

## configuration using standalone MCU (Seeeduino Xiao) connected to RPi via USB/UART:
#[mcu accelerometer]
#serial: /dev/serial/by-id/usb-Klipper_samd21g18a_BF89CFCB3052575020312E362E3010FF-if00

## Apparently, SPI on the ATSAMD21 needs to be explicitly configured in Klipper.
## See: https://www.klipper3d.org/Config_Reference.html#samd_sercom
#[samd_sercom accelerometer]
#sercom: sercom0
#tx_pin: accelerometer:PA6 # MOSI
#rx_pin: accelerometer:PA5 # MISO
#clk_pin: accelerometer:PA7 # CLK

## GY-291 ADXL345 board connected to a Xiao
#[adxl345]
#cs_pin: accelerometer:PB9

## configuration using adxl connected to SPI header on the controller board (SKR Mini E3)
#[adxl345]
#cs_pin: PB5
#spi_bus: spi1
#spi_software_sclk_pin: PA5 # SCK on SPI1
#spi_software_mosi_pin: PA7 # MOSI on SPI1
#spi_software_miso_pin: PA6 # MISO on SPI1

#[resonance_tester]
#accel_chip: adxl345
##method: vibrations
##method: pulses
##max_accel: 10000
